
$width:800px;

#highscore{
    display:none;
    margin-top:50px;
    width:$width;
    margin: 0 auto;
    #title, .scores{
        display:flex;
        font-size: 40px;
    
        .ranking{
            width: 2*$width/8;
            text-align: center;
        }
        .user, .score{
            width: 3*$width/8;
            text-align: center;
        }
    }
    #title{
        border-bottom: solid 2px black;

    }
    .scores{
        font-size: 20px;
    }

}




