#register{
    position: relative;
    top:10px;
    border:2px black solid;
    width:240px;
    padding:20px;
    height:400px;
    display:none;
    margin: 0 auto;

    
    .error-username-server, .error-email-register-server{
        display:none;
    }
    
    .error-confirm-password{
        display:none;
    }
}





